/* Description: Comming soon CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Header
- Media Queries
******************************************/

/**************************/
/*     General Styles     */
/**************************/
body,
html {
  width: 100%;
  height: 100%;
}

body,
p {
  color: #ffffff;
  font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.625rem;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h4 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h5 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

h6 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

.p-large {
  font-size: 1rem;
  line-height: 1.875rem;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

/******************/
/*     Header     */
/******************/
.header {
  position: relative;
  min-height: 100%;
  padding-top: 3rem;

  background-color: #0499f2;
  background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%);

  background-size: cover;
  background-position: center;
  text-align: center;
}

.header .logo-image {
  display: block;
  width: 120px;
  margin-right: auto;
  margin-bottom: 1.75rem;
  margin-left: auto;
  opacity: 0.8;
}

.header .logo-text {
  display: block;
  margin-bottom: 2rem;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 700;
  font-size: 3rem;
  text-decoration: none;
}

.header .countdown {
  margin-bottom: 1rem;
  text-align: center;
}

.header .countdown #clock .counter-number {
  display: inline-table;
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1.25rem;
  margin-left: 0.5rem;
  padding-top: 2rem;
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #0499f2;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.header .countdown #clock .counter-number .timer-text {
  color: #0499f2;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
}

.header .text-container {
  margin-bottom: 12rem;
}

.header h1 {
  margin-bottom: 0.875rem;
  text-shadow: 5px 5px 7px #ffffff83;
}

.header .p-large {
  margin-bottom: 2.75rem;
}

.header .social-container {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0;
}

.header .fa-stack {
  width: 2em;
  margin-bottom: 0.75rem;
  margin-right: 0.375rem;
  font-size: 1.25rem;
}

.header .social-container .fa-stack:last-child {
  margin-right: 0;
}

.header .fa-stack .fa-stack-1x {
  color: #3494e6;
  transition: all 0.2s ease;
}

.header .fa-stack .fa-stack-2x {
  color: #ffffff;
  opacity: 0.8;
  transition: all 0.2s ease;
}

.header .fa-stack:hover .fa-stack-2x {
  opacity: 1;
}

/*************************/
/*     Media Queries     */
/*************************/
/* Min-width 768px */
@media (min-width: 768px) {
  /* General Styles */
  h1 {
    font-size: 3rem;
    line-height: 3.75rem;
  }
  /* end of general styles */

  /* Header */
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }

  .header .text-container {
    margin-bottom: 6rem;
  }

  .header .countdown {
    margin-bottom: 3rem;
  }

  .header .countdown #clock .counter-number {
    width: 7.75rem;
    height: 7.75rem;
    margin-bottom: 0;
    padding-top: 2.5rem;
    font-size: 3rem;
    line-height: 1.5rem;
  }

  .header .countdown #clock .counter-number .timer-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .header .form-group {
    max-width: 22rem;
    display: inline-block;
    vertical-align: top;
  }

  .header .form-control-input {
    width: 22rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .header .form-control-submit-button {
    width: 10rem;
    margin-left: -0.375rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  /* end of header */
}
/* end of min-width 768px */

/* Min-width 992px */
@media (min-width: 992px) {
  /* Header */
  .header .countdown #clock .counter-number {
    width: 9rem;
    height: 9rem;
    padding-top: 3.125rem;
    font-size: 3.25rem;
  }

  .header .text-container {
    width: 872px;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of header */
}
/* end of min-width 992px */

/* Min-width 1200px */
@media (min-width: 1200px) {
  /* Header */
  .header h1 {
    font-size: 3.625rem;
    line-height: 4.5rem;
    letter-spacing: -0.4px;
  }
  /* end of header */
}
/* end of min-width 1200px */

/**************************/
/*Visit button */
/**************************/

.button {
  display: inline;
  border-radius: 0.7rem;
  box-shadow: -10px -10px 30px 4px rgba(255, 255, 255, 0.1),
    10px 10px 30px 4px rgba(45, 78, 255, 0.15);
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  padding: 15px 45px;
  background-size: 200% auto;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/**************************/
/*Developer Portfolio button */
/**************************/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.aneon {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3.5px;
  overflow: hidden;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.aneon:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.aneon:nth-child(1) {
  filter: hue-rotate(270deg);
}
.aneon:nth-child(2) {
  filter: hue-rotate(110deg);
}
.aneon span {
  position: absolute;
  display: block;
}
.aneon span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.aneon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.aneon span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.aneon span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.about__img {
  width: 300px;
  justify-self: center;
  margin-top: auto;
  margin-bottom: 2rem;
  border-radius: 18px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/**************************/
/*type retype*/
/**************************/
.text_1 {
  animation: text1;
}
.text_2 {
  animation: text2;
}
.text_1,
.text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  font-size: medium;
  animation-duration: 15s;
  animation-timing-function: steps(15, end);
  animation-iteration-count: infinite;
}
.text_1::after,
.text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}
@keyframes typewriter {
  0%,
  100% {
    width: 0;
  }
  20%,
  80% {
    width: 10.2em;
  }
}
@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 17em;
  }
}
@keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 15em;
  }
}
h6 {
  font-size: medium;
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
}

/*# sourceMappingURL=button.css.map */
